{% extends 'base.html.twig' %}

{% block title %}Add a Profile Candidat!{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-primary text-center mt-5 mb-4">Create Your Candidate Profile</h1>
    <div class="col-8 mx-auto">
        {{ form(form) }}
    </div>

</div>
{% endblock %}
