{% extends 'base.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block body %}


<div class="container">
    <div class="col-7 mx-auto">
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} mt-3">{{ message }}</div>
            {% endfor %}
        {% endfor %}
    </div>


    <h1 class="text-center text-success">Welcome to our page!</h1>


</div>
{% endblock %}
