{% extends 'base.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block body %}


<div class="container">
    <div class="col-7 mx-auto">
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} mt-3">{{ message }}</div>
            {% endfor %}
        {% endfor %}
    </div>


    <h1 class="text-center text-success my-5">Welcome to our page!</h1>
    <img src="https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1630&q=80" class="img-fluid rounded" alt="travail">


</div>
{% endblock %}
