{% extends 'base.html.twig' %}

{% block title %}Ajoute un Candidat Compétence{% endblock %}

{% block body %}


<div class="container ">
    <h1 class="text-success text-center">Ajoute un compétence  </h1>
    {{form(form)}}
</div>
{% endblock %}
