{{form_start(form, {attr: {class: 'filter' }}) }}
    <h6 class="text-primary">Nom</h6>
    {{form_row(form.nom)}}
    <h6 class="text-primary">Compétences</h6>
    {{form_row(form.skills)}}
    <button type="submit" class="btn btn-primary w-100">Search</button>
{{form_end(form)}}